@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i');

$raleway: 'Raleway', sans-serif;
$lobster: 'Lobster Two', cursive;
$white: #fff;
$primary: #2d4758;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $primary;
}

::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

#map {
  width: 70%;
  height: 100%;
  color: $primary;
  h2 {
    font-size: 22px;
  }
  h4 {
    font-size: 12px;
    color: #3c5f75;
  }
  a {
    color: #3c5f75;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
  }
}


.container {
  float: left;
  height: 100%;
  width: 30% !important;
  text-align: center;
  font-family: $raleway;
  background: $primary;
  color: $white;
  h1 {
    font-family: $lobster;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  h3 {
    margin: 30px 0 5px 0;
  }
  p {
    margin: 0 auto 10px auto;
    padding-bottom: 25px;
    width: 50%;
    border-bottom: 2px solid;
    font-size: 12px;
  }
  select {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    color: $primary;
    option {
      padding: 10px;
    }
  }
  input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    color: $primary;
  }
  .map-options {
    margin-top: 15px;
    height: 50%;
    overflow: scroll;
    .options {
      margin: 0;
      padding: 0;
      background: $white;
      color: $primary;
      li {
        list-style: none;
        padding: 10px;
        cursor: pointer;
      }
      li:hover {
        background: $primary;
        color: $white;
      }
    }
  }
}
